{{#with currentBet}}
	<div>
		Current Bet is placed by {{user.name}} for ${{money}}
	</div>
{{/with}}

{{#with newBet}}
	<div>
		Place a new bet by {{user.name}}
		 for 
		{{view Ember.Select
				content=currentUsers
				viewName='select'
				optionLabelPath='content.name'
				optionValuePath='content.id' 
				prompt="Pick A User"
		}} 
		$ {{money}}
	</div>
	<div>
		<button {{action 'updateBet'}}> Update Bet </button>
	</div>
{{/with}}